<div>
{% if items %}
<table class="table table-bordered" style="margin-top:2em;">
	<thead>
		<tr>
			<th class="text-left" style="width:30%">Project Task</th>
			<!-- <th class="text-right" style="width:15%">Total Billable Amount</th> -->
			<th class="text-left" style="width:30%">Invoice Details</th>
			<th class="text-right" style="width:10%">% Invoiced</th>
			<th class="text-right" style="width:15%">Invoiced Amount</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items%}
		<tr>
			<td class="text-left" style="width:30%">
				{{ item.get('item_code') }}
				{% if item.get('reference_task') %}<br>Task #: {{ item.get('reference_task') }} {% endif %}
			</td>
			<!-- <td class="text-right" style="width:15%">
				{{ frappe.utils.fmt_money(item.get('billable_amount') | abs, currency=currency) }}
			</td> -->
			<td class="text-left" style="width:30%">
				{{ item.get('name') }} - {{ frappe.utils.formatdate(item.get('posting_date')) }} - {{ item.get('status') }}
				<!-- <br>Outstanding Amount: {{ frappe.utils.fmt_money(item.get('outstanding_amount') | abs, currency=currency) }} -->
			</td>
			<td class="text-right" style="width:10%">
				{{ "%.2f"|format(item.get('qty')) }}%
			</td>
			<td class="text-right" style="width:15%">
				{{ frappe.utils.fmt_money(item.get('amount') | abs, currency=currency) }}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<div class="text-muted" style="text-align: left;">
	No previous billing history found for this Project
</div>
{% endif %}
</div>
